<div class="modal fade" id="repoDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title" id="myModalLabel">Repository's Details</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label>Repository:</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                             {{knRepoDetail.name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label>Owner:</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            {{knRepoDetail.owner.login}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label>Owner's Id:</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            {{knRepoDetail.owner.id}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label>Owner's Avatar:</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <img ng-src="{{knRepoDetail.owner.avatar_url}}" alt="No avatar loaded yet" class="img-responsive"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label>Owner's Type:</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            {{knRepoDetail.owner.type}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label>Language:</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            {{knRepoDetail.language}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label>Branch:</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            {{knRepoDetail.default_branch}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label>Open Issues Count:</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            {{knRepoDetail.open_issues_count}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label>Private:</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            {{knRepoDetail.private | showBoolean}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label>Home page:</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <a href="{{knRepoDetail.homepage}}">{{knRepoDetail.homepage}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label>Created date:</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            {{knRepoDetail.created_at}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label>Updated date:</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            {{knRepoDetail.updated_at}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label>Description:</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            {{knRepoDetail.description}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>